{% load static %}
<footer class="tm-footer row tm-mt-small">
    <div class="col-12 font-weight-light">
        <p class="text-center text-white mb-0 px-4 small">
            Copyright &copy; <b>2021</b> All rights reserved.

            Design: PJ
        </p>
    </div>
</footer>
</div>

<script src="{% static 'dashboard/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'dashboard/js/moment.min.js' %}"></script>
<script src="{% static 'dashboard/js/Chart.min.js' %}"></script>
<script src="{% static 'dashboard/js/bootstrap.min.js' %}"></script>
<script src="{% static 'dashboard/js/tooplate-scripts.js' %}"></script>
<script>
Chart.defaults.global.defaultFontColor = 'white';
let ctxLine,
    ctxBar,
    ctxPie,
    optionsLine,
    optionsBar,
    optionsPie,
    configLine,
    configBar,
    configPie,
    lineChart;
barChart, pieChart;
// DOM is ready
$(function () {
    drawLineChart(); // Line Chart
    drawBarChart(); // Bar Chart
    drawPieChart(); // Pie Chart

    $(window).resize(function () {
        updateLineChart();
        updateBarChart();
    });
})
</script>