{% extends 'dashboard/Base.html' %}
{% load static %}
{% block content %}
    <div class="" id="home">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="text-white mt-5 mb-5">Seja Bem-vindo, <b>Admin</b></p>
                </div>
            </div>
            <!-- row -->
            <div class="row tm-content-row">
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block">
                        <h2 class="tm-block-title">Últimos Resultados</h2>
                        <canvas id="lineChart"></canvas>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block">
                        <h2 class="tm-block-title">Performance</h2>
                        <canvas id="barChart"></canvas>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-taller">
                        <h2 class="tm-block-title">Armazenamento</h2>
                        <div id="pieChartContainer">
                            <canvas id="pieChart" class="chartjs-render-monitor" width="200" height="200"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-overflow">
                        <h2 class="tm-block-title">Lista de Notificação</h2>
                        <div class="tm-notification-items">
                            {% if lista_notificacao %}
                            {% for item in lista_notificacao  %}
                            <div class="media tm-notification-item">
                                <div class="tm-gray-circle"><img src="{% static 'dashboard/images/user-1.png' %}" alt="Avatar Image"
                                        class="rounded-circle"></div>
                                <div class="media-body">
                                    <p class="mb-2">{{ item.description }}<a href="#"
                                            class="tm-notification-link">{{ item.stats }}</a></p>
                                    <span class="tm-small tm-text-color-secondary">{{item.hour}}h atrás.</span>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-12 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
                        <h2 class="tm-block-title">Lista de Pedidos</h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">NO. PEDIDO</th>
                                    <th scope="col">STATUS</th>
                                    <th scope="col">OPERAÇÃO</th>
                                    <th scope="col">LOCALIZAÇÃO</th>
                                    <th scope="col">DISTANCIA</th>
                                    <th scope="col">DATA INICIAL</th>
                                    <th scope="col">ENDEREÇO DE ENTREGA</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row"><b>#122349</b></th>
                                    <td>
                                        Moving
                                    </td>
                                    <td><b>Oliver Trag</b></td>
                                    <td><b>São Paulo, SP</b></td>
                                    <td><b>485 km</b></td>
                                    <td>16:00, 12 NOV 2022</td>
                                    <td>08:00, 18 NOV 2022</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
{% endblock  %}